# BPF object files
**/*.bpf.o

# User-space object files
**/*.o

# BPF skeleton headers
**/*.skel.h

# 실행 바이너리
snoop_user
**/execsnoop_user
**/exitsnoop
**/opensnoop_user
**/tcpsnoop_user

# 기타 백업/임시 파일 (선택)
*~
*.swp

# OpenTelemetry Collector binary and archive
otelcol-contrib
otelcol-contrib_0.100.0_linux_amd64.tar.gz

